{% extends 'nav.html'%}
{% load static %}
{%block content%}
		<script type="text/javascript">
			function showCompare(price){
			    console.log('Show Modal');
			    document.querySelector('#modal-compare').style.display = 'flex';
			    document.querySelector('#price').value = price;
			}

			function showModal(){
			}

				function hideModal(){
				    console.log('Hide Modal');
				    document.querySelector('#modal-compare').style.display = 'none';
			}

			function comparePrice(){
			    let price = document.querySelector('#price').value;
			    let cash = document.querySelector('#cash').value;
			    console.log(price);
			    console.log(cash);
			    console.log(Number(cash) >= Number(price));
			    console.log(Number(price) - Number(cash));

			    if (Number(cash) == Number(price)){
			    	document.querySelector('#message-equal').style.display = 'flex';
			    	document.querySelector('#message-enough').style.display = 'none';
			        document.querySelector('#message-short').style.display = 'none';
			        document.querySelector('#equal').innerHTML = 'Your budget is enough!';
			    }
			    else if(Number(cash) >= Number(price)){
			        document.querySelector('#message-enough').style.display = 'flex';
			        document.querySelector('#message-short').style.display = 'none';
			        document.querySelector('#message-equal').style.display = 'none';
			        document.querySelector('#enough').innerHTML = 'You have enough budget! \nYou have an extra ₱' + [(Number(cash)).toString()-Number(price)]+'\nCheck and add review items!';
			    }

			    else{
			        document.querySelector('#message-short').style.display = 'flex';
			        document.querySelector('#message-enough').style.display = 'none';
			        document.querySelector('#message-equal').style.display = 'none';
			        document.querySelector('#short').innerHTML = 'You don\'t have enough budget! \nYou need additional ₱' +  (Number(price) - Number(cash)).toString();
			    }
			}	
		</script>
	</head>

	<body class="bodyBG">
		<div>
			<center>
				<p class="Dtitle1">VIVOBOOK S15 S532 (11TH GEN INTEL) </p>
			</center>
		</div>
		
		<div>
			<p class="Dline1">______________________________________________________________________________________________________________</p>
		</div>


		<div class="grid-containerD">
			<div class="Dcontainer2">
				<a class="Doptions2A" href="{% url 'laptopAsus/'%}">BACK</a>
			</div>
			
			<div class="Dcontainer3">

				<button type="button" onclick="showCompare(35200)" class="Ebuttons2">Compare The Price!</button>

				<div class="bg-modal" id="modal-compare">
					<div class="modal-compare">
						<form>
                                                        <h3>PRICE VS. BUDGET</h3>
                                                        <table>
                                                                <tr>
                                                                        <td>
                                                                                Unit Price: 
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" name="price" value="" id="price" disabled>
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                Budget:
                                                                        </td>
                                                                        <td>
                                                                                <input type="number" name="cash" value="" id="cash">
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                        <input type="button" class="Ebuttons1 button-modal" onclick="comparePrice()" value="Compare">
                                                        <center>
                                                                <div class="compare-short" id="message-short">
                                                                        <p id="short"></p>
                                                                </div>
                                                                <div class="compare-enough" id="message-enough">
                                                                        <p id="enough"></p>
                                                                </div>
                                                                <div class="compare-equal" id="message-equal">
                                                                        <p id="equal"></p>
                                                                </div>
                                                        </center>
                                                        <div class="close-modal" onclick="hideModal()">+</div>
                                                </form>
					</div>
					
				</div>
				
				<img src="{% static 'images/asusL2.webp' %}" class="Dimg1"width="230px" height="150px" title="•	VIVOBOOK S15 S532 (11TH GEN INTEL) | Photo Credits: www.asus.com">
			</div>
			<div class="Dcontainer4">
                                        <table class="Ddescription1">
                                                <tr>
                                                        <td class="Ddescription1color"><b>GENERAL&nbsp;INFORMATION</b></td>
                                                        <td></td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">NAME:</td>
                                                        <td>VIVOBOOK S15 S532 (11TH GEN INTEL) </td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">TMTK RATINGS:</td>
                                                        <td>3 / 5</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">RELEASE DATE:</td>
                                                        <td>May 9, 2019</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">PRICE:</td>
                                                        <td>35,200 PHP</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">PROCESSOR:</td>
                                                        <td>Intel Core i7 10th Gen i7-10510U</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">RAM:</td>
                                                        <td>8GB | slots 1 </td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">DOWNLOAD THE FULL SPECS:</td>
                                                        <td><a href="https://drive.google.com/file/d/13eCm3vY6xxa9UJ8evQhQlOqvXOAewC4g/view?usp=sharing" class="Ddescription1" target="_blank">Asus Laptop 2</a></td>
                                                </tr>
                                        </table>
                                        
                                        
                                </div>
                                <div class="Dcontainer5">
                                        <p class="Ddescription2">From the Vivo Series of Asus this budget laptop is good mostly for online classesD. Based on its price it is still not for high-end laptop but its specifications is good and justifiable. This laptop’s processor is Intel Core i7 which is very good to run online class aDpplication like Zoom. For its RAM 8GB is also good specially for all day usage of the laptop. It has 512 GB storage also, it is more faster than the old laptops with HDD. Even this laptop is a 2019 release, its performance can keep up with the new releases.</p>	
                                </div>
                                <div class="Dcontainer6">
                                        <iframe class="Dvid1" width="300" height="110" src="https://www.youtube.com/embed/RnJ3UernDK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="Dcontainer7">
                                        <br>
                                        <center>
                                        <a class="Ddescription3" href="{% url 'feedback/'%}">DID YOU LIKE OUR REVIEW? PLEASE SEND US A FEEDBACK!</a>	
                                        </center>		
                                </div>
                        
		</div>
	</body>
{%endblock%}
