{% extends 'nav.html'%}
{% load static %}
{%block content%}
	<body class="bodyBG">
		<div>
			<center>
				<p class="Etitle1">ORDER</p>
			</center>
		</div>
		
		<div>
			<p class="Eline1">______________________________________________________________________________________________________________</p>
		</div>


		<div>
				<!-- USER -->
				<form method="POST">
					{% csrf_token%}
				<center>
				<p class="ElegendTitle">USER:</p>
	        	<!-- ORDER -->
	        	<fieldset class="Efieldset2">
					<legend class="ElegendTitle">DELIVERY AND PAYMENT</legend>

					<label for="first_name" class="Eoptions2">DATE:</label>
					<input type="date" name="DateToday">
					<br>
					<label for="ModDel" class="Eoptions2">MODE OF DELIVERY:</label>
		        	<select name="ModDel" required="" class="Etextfields1" onchange="updateProgressBarSelect('org', this.value)">
		        	<option value ="DEFAULT" selected>-----------</option>	
		            <option value ="LALAMOVE">LALAMOVE</option>
		            <option value="LBC">LBC</option>
		            <option value="J&T EXPRESS">J&T EXPRESS</option>
		        	</select>

		        	<label for="ModPay" class="Eoptions2">MODE OF PAYMENT:</label>
		        	<select name="ModPay" required="" class="Etextfields1" onchange="updateProgressBarSelect('org', this.value)">
		        	<option value ="DEFAULT" selected>-----------</option>	
		            <option value ="COD">CASH ON DELIVERY</option>
		            <option value="G-CASH">G-CASH</option>
		            <option value="BANK TRANSFER">BANK TRANSFER</option>
		        	</select> <br>
		            <label for="organization_name" class="Eoptions2">CASH:</label>
		        	<input type ="text" name="CASH" placeholder="CASH IN PESO" required="" class="Etextfields1" onfocusout="updateProgressBarText('orgname', this.value)">

	        	</fieldset><br>
	        	<center>
	        	 <button type="submit" name="submit" class="Ebuttons1">Next
		        </button>

		        </center>
		        </form>
			</div>
	</body>
{% endblock %}