{% extends 'nav.html'%}
{% load static %}
{%block content%}
		<script type="text/javascript">
			function showCompare(price){
			    console.log('Show Modal');
			    document.querySelector('#modal-compare').style.display = 'flex';
			    document.querySelector('#price').value = price;
			}

			function showModal(){
			}

				function hideModal(){
				    console.log('Hide Modal');
				    document.querySelector('#modal-compare').style.display = 'none';
			}

			function comparePrice(){
			    let price = document.querySelector('#price').value;
			    let cash = document.querySelector('#cash').value;
			    console.log(price);
			    console.log(cash);
			    console.log(Number(cash) >= Number(price));
			    console.log(Number(price) - Number(cash));

			    if (Number(cash) == Number(price)){
			    	document.querySelector('#message-equal').style.display = 'flex';
			    	document.querySelector('#message-enough').style.display = 'none';
			        document.querySelector('#message-short').style.display = 'none';
			        document.querySelector('#equal').innerHTML = 'Your budget is enough!';
			    }
			    else if(Number(cash) >= Number(price)){
			        document.querySelector('#message-enough').style.display = 'flex';
			        document.querySelector('#message-short').style.display = 'none';
			        document.querySelector('#message-equal').style.display = 'none';
			        document.querySelector('#enough').innerHTML = 'You have enough budget! \nYou have an extra ₱' + [(Number(cash)).toString()-Number(price)]+'\nCheck and review more items!';
			    }

			    else{
			        document.querySelector('#message-short').style.display = 'flex';
			        document.querySelector('#message-enough').style.display = 'none';
			        document.querySelector('#message-equal').style.display = 'none';
			        document.querySelector('#short').innerHTML = 'You don\'t have enough budget! \nYou need additional ₱' +  (Number(price) - Number(cash)).toString();
			    }
			}	
		</script>
	</head>

	<body class="bodyBG">
		<div>
			<center>
				<p class="Dtitle1">RAZER HUNTSMAN MINI LINEAR</p>
			</center>
		</div>
		
		<div>
			<p class="Dline1">______________________________________________________________________________________________________________</p>
		</div>


		<div class="grid-containerD">
			<div class="Dcontainer2">
				<a class="Doptions2A" href="{% url 'keyboardRazer/'%}">BACK</a>
			</div>
			
			<div class="Dcontainer3">

				<button type="button" onclick="showCompare(6499)" class="Ebuttons2">Compare The Price!</button>

				<div class="bg-modal" id="modal-compare">
					<div class="modal-compare">
						<form>
                                                        <h3>PRICE VS. BUDGET</h3>
                                                        <table>
                                                                <tr>
                                                                        <td>
                                                                                Unit Price: 
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" name="price" value="" id="price" disabled>
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                Budget:
                                                                        </td>
                                                                        <td>
                                                                                <input type="number" name="cash" value="" id="cash">
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                        <input type="button" class="Ebuttons1 button-modal" onclick="comparePrice()" value="Compare">
                                                        <center>
                                                                <div class="compare-short" id="message-short">
                                                                        <p id="short"></p>
                                                                </div>
                                                                <div class="compare-enough" id="message-enough">
                                                                        <p id="enough"></p>
                                                                </div>
                                                                <div class="compare-equal" id="message-equal">
                                                                        <p id="equal"></p>
                                                                </div>
                                                        </center>
                                                        <div class="close-modal" onclick="hideModal()">+</div>
                                                </form>
					</div>
				</div>
				
				<img src="{% static 'images/razerKEY1.webp' %}" class="Dimg1"width="280px" height="160px" title="RAZER HUNTSMAN MINI LINEAR OPTICAL RED SWITCH MECHANICAL KEYBOARD  | Photo Credits: www.razer.com">
			</div>
			<div class="Dcontainer4">
                                        <table class="Ddescription1">
                                                <tr>
                                                        <td class="Ddescription1color"><b>GENERAL&nbsp;INFORMATION</b></td>
                                                        <td></td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">NAME:</td>
                                                        <td>RAZER HUNTSMAN MINI LINEAR OPTICAL RED SWITCH MECHANICAL KEYBOARD </td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">TMTK RATINGS:</td>
                                                        <td>4 / 5</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">RELEASE DATE:</td>
                                                        <td>July 4, 2020</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">PRICE:</td>
                                                        <td>6,499 PHP</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">KEYBOARD TYPE:</td>
                                                        <td>WIRED (DETACHABLE C-TYPE)</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">KEY LIFE:</td>
                                                        <td>16,000,000 KEY STROKES</td>
                                                </tr>
                                                <tr>
                                                        <td class="Ddescription1color">Download the Full Specs:</td>
                                                        <td><a href="pdf/razerKEY1.pdf" class="Ddescription1" target="_blank">Razer Keyboard 1</a></td>
                                                </tr>
                                        </table>
                                        
                                        
                                </div>
                                <div class="Dcontainer5">
                                        <p class="Ddescription2">This mechanical keyboard is a 60% version of normal keyboard. This keyboard is very compact, the numeric keys are aligned in the function keys, the delete key, insert key, and print screen are not present in the keyboard. This keyboard has a bright RGB lightings, good feature if you are working in dark or dim room. The average key life of this keyboard is up to 16,000,000 keystrokes. This keyboard is recommendable because it saves a lot of space in your desk. </p>	
                                </div>
                                <div class="Dcontainer6">
                                        <iframe class="Dvid1" width="300" height="110" src="https://www.youtube.com/embed/r9-wTmT5hXU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
        
                                <div class="Dcontainer7">
                                        <br>
                                        <center>
                                        <a class="Ddescription3" href="{% url 'feedback/'%}">DID YOU LIKE OUR REVIEW? PLEASE SEND US A FEEDBACK!</a>	
                                        </center>			
                                </div>
                                
		</div>
	</body>
{%endblock%}
